body {
	font-family: "Courier", sans-serif;
    color: #010101;
    font-size: 16px;
	letter-spacing: 0.2px;
	margin: 0;
	padding: 0;

	background-color: #010101;
	
}


h1 {
	font-weight: 1000;
	font-size: 50px;
    font-family: "Courier", sans-serif;
    letter-spacing: -0.1px;
    opacity:0.8;

	line-height: 0.7;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


p {
	text-align: justify;
}


a {
	text-decoration: none;
	color: #010101;
	opacity: 0.7;
}


a:hover{
	opacity: 0.7;
	color: rgb(25, 147, 76);
}


.small {
	width: auto;
	margin-right: 25px;
	opacity: 0.7;	
}


.main {
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:border-box;

	position: fixed;
	display: inline-block;
	
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);

	width: 80%;
	height: 70%;
	padding-left: 100px;
	padding-right: 100px;

	overflow: scroll;
	
}


ul.social li {
	margin: 10px 5px;
	display: inline-block;
}


ul.social li a {
	
	padding: 0 10px;
}


.fa{
	color:#010101;
    opacity: 0.6;
}


.fa:hover{
	opacity: 0.6;
	color: rgb(25, 147, 76);
}
 

span{
    animation: blinker 1s linear infinite;
	font-weight: 1px;
}

 
  
@keyframes blinker{
    50%{
    opacity: 0;
    }
}
  

@media screen and (min-width: 625px) {
	h1{
	  font-size: 100px;
	}

}

@media screen and (max-width: 500px) and (min-width: 625px) {
	h1{
	  font-size: 50px;
	}

}
  
@media screen and (max-width: 500px) {
	h1{
		font-size: 30px;
		font-weight: 20px;
	  }

	  ul.social li a {
	
		display: block;
	}
 
}

  